*{
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    background-color: rgba(72, 37, 105, 0.411)
}

#app{
    display:flex; 
    align-items: center;
    justify-content: center;
}

.loginTemplate {
    width: 400px;
    padding: 35px;    
    border-radius: 10px;
    height: 500px;
    background-color: #fff;
    opacity:0.6;
}

.loginImage{
    width: 100%;
}