*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bg.jpg');
    background-position: center;
}

*:focus {
    outline: none;
}
.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
}

.contentPadding{
    padding: 0 1000px;
}

html, body, #app {
    height: 100%;
    width: 100%;    
}

.loginButton{
    width: 100%;
}

.alignCenter{
    align-self: center;
    padding-bottom: 10px;
}

.alignContent{
    text-align: center;
    padding: 5px 0;
}

.textColor{
    color: #fff;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;   
}




.selects{
    margin-bottom: 15px;
}



.alignTitleContent{
    align-self: center;
    text-align: center;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.705);
}

.gridName{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.loginTemplate {
    width: 400px;
    padding: 10px 35px;    
    border-radius: 10px;
    height: auto;
    background-color:#000;
    opacity:0.8;    
}

.loginImage{
    margin-top: 10px; 
    width: 100%;
}

.inputForm{
    border-radius: 50px;
    background-color: rgba(68, 67, 67, 0.514);
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
}