*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bg.jpg');
    background-position: center;
}

*:focus {
    outline: none;
}

.marginRow{
    padding: 0 15px;    
}

.userName{
    padding: 3px;
    border: 0.5px solid black;
    margin: 2px 0; 
}

.containerMargin{
    margin-top: 20px;
}

.ticketWindow {
    width: 100%; 
    margin-top: 50px;
    background-color:rgb(236, 230, 230);
    border-radius: 10px;
}

.ticketInfo,
.ticketDescription,
.ticketButtons,
.ticketComments {
    width:99%;
    margin: auto;
    background-color: #fff; 
    margin: 5px 5px;
    padding: 3px;
    border-radius: 10px;    
}
.marginButtons,
.ticketComments{
    margin: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

section, aside{
    background-color: #fff;
    height: 100%;
}

.carousel-item > img{
    height: 500px;
    width: 100%;
}
.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
}

.contentPadding{
    padding: 0 1000px;
}

html, body, #app {
    height: 100%;
    width: 100%;    
}

.loginButton{
    width: 100%;
}

.alignCenter{
    align-self: center;
    padding-bottom: 10px;
}

.alignContent{
    text-align: center;
    padding: 5px 0;
}

.textColor{
    color: #fff;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;   
}

.selects{
    margin-bottom: 15px;
}

.AccessButtons {   
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.AccessButtons a{   
    border: none;
}

.alignTitleContent{
    align-self: center;
    text-align: center;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.705);
}

.gridName{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.loginTemplate {
    width: 400px;
    padding: 10px 35px;    
    border-radius: 10px;
    height: auto;
    background-color:#000;
    opacity:0.8;    
}

.loginImage{
    margin-top: 10px; 
    width: 100%;
}

.inputForm{
    border-radius: 50px;
    background-color: rgba(68, 67, 67, 0.514);
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
}