@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/notebook-wallpaper-2.jpg') center no-repeat;
    background-size: cover;
}

a,
a:hover {
    text-decoration: none;
    color: #eee;
}

header {
    width: 100%;
    height: 20vh;
    transition: all .25s;
    z-index: 999;
    position: fixed;
}

.form-container {
    padding: 50px 60px;
    font-size: 1.8rem;  
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);

}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav {
    padding-top: 5rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: all .25s;
}

.dashboard-main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 35px 20px 35px;
}

.dashboard-main-nav ul {
    display: flex;
    margin: 0;
}

.dashboard-main-nav ul li {
    list-style: none;
    padding: 0 1rem;
}

.dashboard-main-nav ul li:last-child {
    margin-right: 0;
}

.dashboard-main-nav ul li a {
    color: #000!important;
}

.dropdown-arrow {
    position: absolute;
    margin-left: .5rem;
}

nav:last-child li{
    animation: none;
}

.brand {
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
}

.brand span {
    color: cornflowerblue;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: sliderIn .5s forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: .5s;
}

nav ul li:nth-child(3) {
    animation-delay: 1s;
}

nav ul li:nth-child(4) {
    animation-delay: 1.5s;
}

nav ul li:nth-child(5) {
    animation-delay: 2s;
}

nav ul li:nth-child(6) {
    animation-delay: 2.5s;
}

nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child {
    margin-right: 0;
}

.animate-link a:before,
.animate-link a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: cornflowerblue;
    left: 0;
    transform: scaleX(0);
    transition: all .5s; 
}

.animate-link a::before{
    top: 0;
    transform-origin: left;
}

.animate-link a::after{
    bottom: 0;
    transform-origin: right;
}

.animate-link a:hover::before,
.animate-link a:hover::after{
    transform: scaleX(1);
}

@keyframes sliderIn {
    from {

    }
    to {
        transform: translateX(0);
    }
}

.graph-container {
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
}

.sign a {
    margin: 0 1.5rem;
    padding: 1rem 2rem;
    position: relative;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    font-weight: 500;
    transition: 0.5s;   
}

.sign a:hover {
    background-color: white;
    color: cornflowerblue; 
}

.sub-menu a:hover,
.sub-menu button:hover{
    background-color: #eee;
}

.sub-menu a,
.sub-menu button {
    color: #000;
    float: none;
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-menu button {
    border: none;
    text-transform: uppercase;
    width: 100%;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    overflow: hidden;
}

.section-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 400px;
    text-align: center;
    font-size: 2rem;
}

.section-content {
    background-color: #f8f9fa;
}

.content-intro div {
    margin: 1rem auto;
}

.get-started {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}

.get-started a {
    border: 1px solid cornflowerblue;
    color: #fff;
    width: 120px;
    background-color: cornflowerblue;
    transition: all 0.5s;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.content-description {
    font-size: 1.4rem;
    font-weight: 300;
}

.get-started a:hover {
    color:cornflowerblue;
    background-color: #fff;
}

.collapse-nav {
    display: none;
}

.collapse-nav div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width: 868px) {
    header {
        height: 10vh;
        background-color: #333;
    }  

    .collapse-nav {
        display: block;
    } 

    .dashboard-sidebar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        padding: 20px 35px 20px 35px;
    }

    .dashboard-title,
    .dashboard-navbar-title,
    .border-bottom {
        display: none;
    }

    .dashboard-navbar {
        background-color: #212529;
        width: 230px;
        height: 100vh;
        padding: 15px;
        margin: 0!important;
        border-radius: 0!important;
        position: absolute;
        transform: translateX(-100%);
        left: 0;
        transition: transform .25s ease-in;  
    }

    .graph-container {
        width: 80vw;
    }
    
    nav {
        padding-top: 1rem;
        height: 9vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        transition: all .25s;
    }

    .dashboard-content {
        position: absolute;
        top: 60px;
        left: 0!important;
        padding: 3vh 1vw;
        width: 100vw!important;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        background-color: #333;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav-links li {
        margin: 1rem;        
    }    

    .border-separator {
        display: none;
    }
   
}

.inactive a{
    color: #333;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.header-scrolled {
    position: fixed;
    background-color: #333;  
    height: 10vh; 
}

.nav-scrolled {
    padding-top: 1rem;
    height: 9vh;;
}

.nav-active {
    transform: translateX(0%);
}

.title-content {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.service-options {
    width: 320px;
    height: 350px;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    margin: 20px 0;
    transition: all .25s;
}

.service-options:hover {
    -webkit-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 8px -1px rgba(0,0,0,0.75);
}

.message-title {
    text-transform: uppercase;
    font-size: 2.3rem;
}

.message {
    color: #2ea10a;
    font-size: 1.3rem;
}

.message-input {
    border: 1px solid #d4d5e0;
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 48px;
    width: 100%;
    display: block;
    background: transparent;
    padding: 0 25px;
    color: #777777;
}

.message-button {
    border: 1px solid cornflowerblue;
    color: #fff;
    width: 100%;
    background-color: cornflowerblue;
    transition: all 0.5s;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.message-button:hover {
    color:cornflowerblue;
    background-color: #fff;
}

.border {
    border: 1px solid black;
}

.services-icon {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services-title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.services-desc {
    padding: 10px;
    font-size: 1.3rem;
}

.drop-toggle {
    display: block;
}

.mark-title {
    width: 30px;
    height: 3px;
    display: block;
    background-color: cornflowerblue;
    margin: auto;
}

.content-margin div {
    margin: auto;
}

.content-margin {
    padding: 0 0 6rem 0;
}

.about-image {
    background-image: url("../images/Project_Manager.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 250px;  
}

.title-about {
    font-size: 2.6rem;
}

.text-about {
    text-align: start;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.padding {
    padding-bottom: 15vh;
}

footer {
    width: 100%;
    background-color: #333;
    color: #eee;
    padding: 6rem 0;
    font-size: 1.5rem;
}

.professional-links a {
    margin-right: 2rem;
}

.quick-links li a {
    text-transform: uppercase;
}


.quick-links li {
    padding-bottom: 1rem;
}

.weight {
    font-weight: 300;
}

#root{
    width: 100%;
    height: 100%;
}

.sideBarIcons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sideBarIcons div {
    padding: 2rem;
}

.sideBarIcons div a:hover{
    color: rgb(199, 199, 199);
}

.tableOptions {
    width: 100%;
    height: 50px;
}

.tableOptions a {
    margin-left: 10px;
}

.tableOptions div{
    display: inline-block;
    margin-right: 10px;
}

.marginRow{
    padding: 0 15px;    
}

.userName{
    padding: 3px;
    border: 0.5px solid black;
    margin: 2px 0; 
}

.labels > div {
    display: inline-block;
    margin: 5px;
    width: 200px;
}

.ticketInfo,
.ticketDescription,
.ticketButtons,
.ticketComments {
    width:100%;
    margin: auto;
    background-color: #fff; 
    margin: 5px 5px;
    padding: 20px;
}

.ticketComments,
.Comments,
.Space{
    margin: 5px;
}

.margin-top-buttons {
    margin-top: 5px;
}

.left-margin {
    margin-left: 5px;
}

.right-margin {
    margin-right: 5px;
}

.authorComment{
    font-size: 12px;
    font-weight: bold;
}

.commentComent{
    margin-top: 5px;
}

.list-group{
    padding: 10px 0;
}

.Slide {
    background-color: #888;
    height: 700px;
}

.content-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: center;
}

.content-home div {
    margin: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(212, 212, 212);
}

.content-slide {
    width:900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-slide div {
    color: #fff;
    width: 400px;
    font-size: 18px;
    font-weight: 500;
}


/* width */
::-webkit-scrollbar {
    width: 10px;  
    position: fixed;  
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 70vh;
}

html, body, #app {
    height: 100%;
    width: 100%;    
}

.alignContent{
    text-align: center;
    padding: 10px 0;
    color: #eee;
}

.alignContent p {
    font-size: 3rem;
}

.text-color{
    color: #fff;
}

.check-position {
    position: absolute;
    left: 0;
    top: 8px;
}

.text-position {
    padding-left: 10px;
}

.main-dashboard{
    height: 100%;
    background-color: #eee;
}

.dashboard-sidebar {  
    position: fixed;
    left: 0;
    top: 0;
}

.dashboard-title {
    font-size: 1.7rem;
    padding: 20px 20px 15px 25px;
    text-transform: uppercase;
}

.dashboard-card {
    margin: 20px 0;
    padding: 0 15px;
    border-radius: 6px;
    color: #333;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.dashboard-card-icon {
    padding: 25px;
    border-radius: 3px;
    float: left;
    margin-top: -20px; 
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14), 0px 7px 10px -5px rgba(255, 152, 0, 0.4);
    overflow: visible;
    color: #fff;
}

.blue {
    background-color: rgb(84, 56, 245);
}

.green {
    background-color: rgb(47, 218, 70);
}

.yellow {
    background-color: rgb(206, 235, 45);
}

.red {
    background-color: rgb(248, 61, 61);
}

.black div {
    background-color: #212529;
}

.dashboard-card-header {
    text-align: right;
}

.dashboard-card-category {
    padding-top: .5rem;
    font-size: 1.5rem;
    color: #999;   
}

.dashboard-card-header h3 {
    font-size: 2.5625rem;
    padding-bottom: 1rem;
}

.dashboard-card-footer {
    border-top: 1px solid #eee; 
    margin-top: 1rem;
}

.dashboard-stats {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #999;
    line-height: 22px;
}

.dashboard-stats p {
    display: inline-block;
    padding-left: .5rem;
}

.dashboard-navbar {
    background-color: #212529;
    width: 230px;
    height: calc(100vh - 90px);
    border-radius: 5px;
    margin: 3vh 1vw;
    padding: 15px;
}

.dashboard-navbar-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 1rem 0;
    color: #eee;
    font-size: 1.7rem;
}

.dashboard-line {
    height: 1px;
    background-color: #eee;
    width: 100%;
}

.dashboard-navbar-links ul li{
    padding: 2rem 3rem;
    text-transform: uppercase;
    font-weight: 400;
    list-style: none;
    color: #eee;
}

.dashboard-navbar-links ul li a {
    font-size: 1.3rem;
}

.dashboard-navbar-icons {
    margin-right: 1rem;
}

.dashboard-link::before {
    content: '';
    position: relative;
    left: -15px;
    width: 8px;
    height: 8px;
    background-color: #212529;
    display: inline-block;
    border-radius: 8px;
}

.active-link::before {
    background-color: #eee;
}

.main-dashboard input,
.main-dashboard,
.main-dashboard button,
.main-dashboard a,
.sizeInput,
.main-dashboard textarea {
    font-size: 1.6rem;

}

.dashboard-content {
    position: absolute;
    top: 60px;
    left: 256px;
    padding: 3vh 1vw;
    width: 80vw;
}

.sideBarContent {
    position: absolute;
    right: 50px;
    left: 100px;
    height: 100%;
}

.selects{
    margin-bottom: 15px;
}

.contacts,
.contacts .profiles{
    color: #fff;
    padding: 20px;
}

.profiles a{
    margin: 20px 0;
    margin-right: 20px;
}

.gridName{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.gridContent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    grid-gap: 1px;
}

#overflowTitle{
    overflow: hidden;
    width:152px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.paddingList{
    padding-left: 3px; 
}

.content {
    overflow: hidden;   
}

.marginComment{
    margin: 10px 0;
}
  
.content-wrapper {
   padding: 5px 8px 20px 8px;
}  

.loginTemplate {
    width: 400px;
    padding: 10px 35px;    
    height: auto;
}

.loginButton{
    width: 100%;
    font-size: 1.8rem;
}

.companyTemplate {
    background-color: rgb(88, 161, 92);
}

.userTemplate {
    color: white;
    background-color:rgb(11, 21, 116);
}

.loginImage{
    margin-top: 10px; 
    width: 100%;
}

.inputForm{
    border: none;
    width: 100%;
    background-color: rgb(235, 235, 235);
    height: 40px;
    padding-left: 10px;
}

.inputSelects {
    color: #234252;
}

.linksButton{
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

.dropdownButton{
    color: #000;
}

.dropdownButton:hover{
    color: #000;
    text-decoration: none;
}

.linksButton:hover{
    color: #fff;
    text-decoration: none;
}

.homeButton{
    font-size: 20px;
}

.icons{
    width: 100%;
    float: right;
}

.icons div {
    margin-right: 3vh;
}

.nonButton {
     background:none!important;
     color:inherit;
     border:none;
}

.nonButton:focus{
    outline: none;
}

.linkColor{
    color: #000!important;
}

.errorMessage{
    color: red;
}



#main {
    width: 30%;
    margin: 50px auto;
}

@media (max-width: 1000px) {
    #main {
        width: 40%;
        margin: 50px auto;
    }
}

@media (max-width: 800px) {
    #main {
        width: 60%;
        margin: 50px auto;
    }
}

@media (max-width: 400px) {
    #main {
        width: 80%;
        margin: 50px auto;
    }
}

#loading {
    margin: auto;
    padding: 0.375rem 0.75rem;
}

.tab-btn  {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: center;
}

.user, .company {
    text-decoration: none!important;
    display: block;
    width: 100%;
    border: 1px solid #234252;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.company {
    box-shadow: 0 0 0 0 #333;
}

.user:hover, .company:hover{
    color: #777777;
}

.active {
    border: 1px solid rgb(184, 184, 184);
}

.you-failed {
    margin: 1rem 0;
    color: #811919;
}

.active-link {

}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover {
    color: #eee;
}

.panels {
    padding: 50px;
    font-weight: 500;
}

.panels div{
    display: inline-block;
    padding: 20px;
}

.positionRight{
    text-align: right;
    right: 0;
    position: absolute;
}

.color-Low{
    font-weight: 600;
    color:#2ea10a;
}

.color-Medium{
    font-weight: 600;
    color:#97b60c;
}

.color-High{
    font-weight: 600;
    color:#aa5815;
}

.color-Emergency{
    font-weight: 600;
    color:#bd0e0e;
}

.information span{
    font-size: 20px;
    margin: 10px 0;
    display: block;
}
